{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AniTrack - Contato</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
	</head>

	<body class="fundo">
		<header>
			<nav>
				<a class="logo" href="{% url 'index' %}">Logo</a>
				<div class="mobile-menu">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
				<ul class="nav-list">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'catalogo' %}">Catálogo</a></li>
					<li><a href="{% url 'sobre' %}">Sobre</a></li>
					<li><a href="{% url 'contatos' %}">Contato</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'profile' user.id %}">Favoritos</a></li>
					{% endif %}
					<li>
						<div>
							{% if user.is_authenticated %}
							<a id="linklogin" class="login" href="{% url 'account_login' %}">{{user.username}}</a>
							<li>
							<a href="{% url 'account_logout' %}">Sair</a>
							</li>
							{% else %}
							<a id="linklogin" class="login" href="{% url 'account_login' %}">Login</a>
							{% endif %}
						</div>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h1>Contato</h1>
			<p>Entre em contato conosco para mais informações.</p>
			<div class="form">
				<form action="" class="formulario" method="post">
					{% csrf_token %}
					<div class="formulario__grupo">
						<input class="formulario__campo" id="nome" type="text" name="nome" placeholder="Nome" required>
					</div>
					<div class="formulario__grupo">
						<input class="formulario__campo" id="email" type="email" name="email" placeholder="E-mail" required>
					</div>
					<label for="type"></label>

					<select class="formulario__campo" name="type" id="type">
					<option value="Duvida">Dúvida</option>
					<option value="Elogio">Elogio</option>
					<option value="Problemas Tecnicos">Problemas Técnicos</option>
					<option value="Criticas">Críticas</option>
					</select>
					<br>
					<br>
					<div class="formulario__grupo">
						<textarea class="formulario__campo" name="mensagem" id="mensagem" cols="30" rows="10" placeholder="Mensagem" required></textarea>
					</div>
					
					<input type="submit" class="formulario__botao" value="Enviar" name="enviar">
				</form>
			</div>
			<b>
            <p>Em breve você recebera nosso e-mail com mais informações :).</p>
			<br>
			<br>
		</main>
		<footer>
			©
			<script>
				document.write(new Date().getFullYear())
			</script> 
			Copyright: AniTrack - Todos Direitos Reservados
		</footer>
		<script src="{% static 'js/mobile-navbar.js' %}"></script>
		<script src="{% static 'js/home.js' %}"></script>
	</body>
</html>
