{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AniTrack - Usuário</title>
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
	</head>

	<body class="fundo">
		<header>
			<nav>
				<a class="logo" href="{% url 'index' %}">Logo</a>
				<div class="mobile-menu">
					<div class="line1"></div>
					<div class="line2"></div>
					<div class="line3"></div>
				</div>
				<ul class="nav-list">
					<li><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'catalogo' %}">Catálogo</a></li>
					<li><a href="{% url 'sobre' %}">Sobre</a></li>
					<li><a href="{% url 'contatos' %}">Contato</a></li>
					{% if user.is_authenticated %}
					<li><a href="{% url 'profile' user.id %}">Favoritos</a></li>
					{% endif %}
					<li>
						<div>
							{% if user.is_authenticated %}
							<a id="linklogin" class="login" href="{% url 'profile' user.id %}">{{user.username}}</a>
							<li>
							<a href="{% url 'account_logout' %}">Sair</a>
							</li>
							{% else %}
							<a id="linklogin" class="login" href="{% url 'account_login' %}">Login</a>
							{% endif %}
						</div>
					</li>
				</ul>
			</nav>
		</header>
		<div class="container">
			{% for animes in animes %}
			<div class="card">
				<a href="{% url 'anime' animes.id %}">
					<img class="imgAnimes" src="{{ animes.imagens.url }}">
					<div class="content">
						<p class="p1">{{animes.titulo_original}}</p>
					</div>
					<div>
						<a class="botao" href="{% url 'delete' animes.id %}">Remover</a>
					</div>
				</a>
			</div>
			{% empty %}
			<tr>
				<td colspan="3" class="anime">Nenhuma atividade registrado.</td>
			</tr>
			{% endfor %}
		</div>
		<footer>
			©
			<script>
				document.write(new Date().getFullYear())
			</script> 
			Copyright: AniTrack - Todos Direitos Reservados
		</footer>
		<script src="{% static 'js/mobile-navbar.js' %}"></script>
		<script src="{% static 'js/home.js' %}"></script>
	</body>
</html>